{% from "forms/macros.html" import render_field %}
{% for project in vars.get('projects') %}
    {#    <form class="param_table_form" action="{{ url_for(link, network_id=project.network_id) }}"#}
    {#              method="post">#}
    {#        <fieldset>#}
    <li><a class='project'
           href="{{ url_for(link, network_id=project.network_id) }}">{{ project.name_ru }}</a>
        {#<input type="radio" id="active-{{ loop.index }}" class="scripts-list" name="project"/>#}
        {#        <label for="active-{{ loop.index }}">{{ project.name_ru }}</label><br>#}
        {#        <div class="input-form">#}
        {#            {{ vars.get('form').csrf_token }}#}
        {#            <p>Выберите промежуток для отчёта:</p>#}
        {#            {{ render_field(vars.get('form').date_from, min="2012-12-01", max="2145-01-08") }}#}
        {#            {{ render_field(vars.get('form').date_to, min="2012-12-01", max="2145-01-08") }}#}
        {#            {% if vars.get('ready') %}#}
        {#                <input class="create_report" id="create_report" type="button" value="Скачать"#}
        {#                       onclick='window.location.href="{{ url_for('user_activity_table.upload', file_name=vars.get('file_name')) }}"'/>#}
        {#            {% else %}#}
        {#                <input class="create_report" id="create_report" type="submit"#}
        {#                       value="Сформировать отчёт"#}
        {#                       onclick="change('create_report', 'Сформировать отчёт', 'Формирую... Ждите')">#}
        {#            {% endif %}#}
        {#        </div>#}
    </li>
    {#            </fieldset>#}
    {#        </form>#}
{% endfor %}