* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin-top: 10px;
    /*background-color: #2c3e50;*/
    color: #34495e;
    line-height: 1.5;
    font-size: 18px;
}

.navbar-bg {
    background: white;
}

.radio_item {
    display: none;
}
.navbar .container {
    position: absolute;
    left: 0;
    top: 0;
}

/* Scripts: Выбор скриптов */
.wrapper {
    width: 80%;
    margin-top: 100px;
    max-width: 1600px;
}

.wrapper > label {
    cursor: pointer;
    float: left;
    display: block;
    padding: 10px 40px;
    background-color: #ecf0f1;
    margin: 1px -1px -3px 0;
}

.wrapper > label:last-of-type {
    border-radius: 0 10px 0 0;
}

.wrapper > label:hover {

    cursor: pointer;
    float: left;
    display: block;
    padding: 10px 40px;
    background-color: #d5ecea;
}

.wrapper > input {
    display: none
}

.wrapper > input:checked + label {

    display: inline-block;
    background-color: #606060;
    color: #fefefe;
}

.wrapper > input[id="tab-1"]:checked ~ .content .tab-1,
.wrapper > input[id="tab-2"]:checked ~ .content .tab-2,
.wrapper > input[id="tab-3"]:checked ~ .content .tab-3 {
    display: block;
}

.wrapper .content {
    display: block;
    position: relative;
    clear: both;
}

.wrapper .content > article {
    width: 100%;
    padding: 15px 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ecf0f1;
    display: none;
    min-height: 200px;
    border-top: 5px solid #606060;
    border-radius: 0 10px 10px 10px;
}

/*-------------------------------------*/
/* Scripts: Выбор проекта и форма для отправки  */
.sub-menu > li > input {
    display: none
}

.sub-menu > li {
    list-style: none;
    padding: 5px 5px 5px 5px;
    margin: 0;
    border-radius: 5px;
}

.sub-menu > li:hover {
    font-style: oblique;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.sub-menu > input:checked ~ .input-form {
    display: none
}

/*------------------------------------------------*/

.page {
    margin-top: 30px
}

.wellChooser {
    margin: 10px 30px;
}

.param_table_form {
    position: relative;
    /*background: #dddff0;*/
    width: 550px;
    height: 200px;
    margin: 10px 10px 10px;
    border: 1px solid lightblue;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.create_report {
    position: absolute;
    right: 0; bottom: 0;
}
.buttons {
    /*display: inline-block;*/
    /*position: relative;*/
    /*padding: 10px 25px;*/
    color: white;

    font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	/*text-indent: 15px;*/
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;

    background: linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
    background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.project_name {
    position: relative;
    margin-left: 10px;
    width: 100%;
    /*background: darkturquoise;*/
    text-decoration: underline;
    font: bold 22px/30px Georgia, serif ;
    /*color: darkturquoise;*/
}



.footer {
    position: fixed; /* Фиксированное положение */
    left: 40%; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    /*background: #; !* Цвет фона *!*/
    color: #dddddd; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

/*---------Табличка----------------------*/

table.dataframe {
    position: center;
}

table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.dataframe th {
    background-color: #add8e6;
    color: black;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #ffff99;
}
