{% extends 'meta.html' %}
{% block extra_styles %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/button.css') }}">
{% endblock %}


    {% block content %}
        {% if vars.get('well') or not vars.get('well_id') %}

            <h1>Проверка скважины {{ vars.get('well').name }} прошла успешно.</h1><br>
            <p>Нажмите кнопку "Сформировать отчёт"</p>
            <form name="load_report"
                  action="{{ url_for('.download' ) }}"
                  method="post">
                <input type="hidden" name="network_id" value="{{ vars.get('project').network_id }}">
                <input type="hidden" name="well_id" value="{{ vars.get('well').id }}">
                <input type="hidden" name="list_of_records" value="{{ vars.get('list_of_records') }}">
                <input type="hidden" name="limit_from" value="{{ vars.get('limit_from') }}">
                <input type="hidden" name="limit_to" value="{{ vars.get('limit_to') }}">
                <input type=submit id="create_report" value="Сформировать отчёт"
                       onclick="change('create_report','Сформировать отчёт', 'Формирую... Ждите')">
                </form>
            <br>
            <p>Формирование отчёта может занять достаточно продолжительное время...<br>Скачивание отчёта начнётся
                автоматически после формирования...</p>
            <p>Если отчёт уже создан, можете скачать уже созданный:</p>
            <a id="downloadLink" class="buttonDownload"
               href="{{ url_for('.download', network_id = vars.get('project').network_id, well_id = vars.get('well').id) }}">Download</a>
            <br>
            {#                <script type="text/javascript">#}
            {#                        window.onload = function() {#}
            {#                                        document.forms["load_report"].submit();#}
            {#                        }#}
            {#                </script>#}
        {% elif vars.get('done') %}
            <h1>Отчёт готов!</h1>
            <p>Скачивание отчёта начнётся автоматически...<br>Если не началось, нажмите кнопку</p>
            <a id="downloadLink" class="buttonDownload"
               href="{{ url_for('.download', network_id = vars.get('network_id'), well_id = vars.get('well_id')) }}">Download</a>
            <br>
            <p>Так же отчёт доступен для скачивание в
                smb://192.169.0.135/share/tables/param_table/{{ vars.get('network_id') }}/{{ vars.get('well_id') }}.xlsx </p>
            <script>
                var downloadTimeout = setTimeout(function () {
                window.location = document.getElementById('downloadLink').href;
    }               , 1500);
            </script>
        {% endif %}
    {% endblock %}
