{% extends 'meta.html' %}

    {% block content %}
        {% if vars.get('projects') %}
            <h1>Выберете проект</h1>
            {% for project in vars.get('projects') %}
                <div class="project">
                    {% if (vars.get('network_id')| int) == project.network_id %}
                    <form action="{{ url_for( '.param_table', network_id=project.network_id) }}" method="post">
                        <fieldset>
                            <input id="pr{{ project.id }}" name="project_name" type="radio"
                                   value="{{ project.network_id }}" checked/>
                            <label for="pr{{ project.id }}">{{ project.name_ru }}</label><br>
                            <div class="wellChooser">
                                {% if vars.get('wells') | length > 0 %}
                                    <label>
                                        <select name="well_name" required>
                                            <p>Выберите скважину:</p>
                                            {% for well in vars.get('wells') %}
                                                <option value="{{ well.id }}">{{ well.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <input class="create_report" type="submit" value="Сформировать отчёт">
                                {% else %}
                                    <p>Активных скважин нет.</p>
                                {% endif %}
                            </div>
                        </fieldset>
                    </form>
                    {% else %}
                        <a class='project'
                           href="{{ url_for('.param_table', network_id=project.network_id) }}">{{ project.name_ru }}</a>
                        <br>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h1>NULL</h1>
{#            <h2>Did not founded any active well!</h2>#}
        {% endif %}

    {% endblock %}
