{% extends 'meta.html' %}

    {% block content %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/param_table_input_form.js') }}"></script>
        {% if vars.get('projects') %}
            <h1>Выберете проект</h1>
            {% for project in vars.get('projects') %}
                <div class="project">
                    {% if (vars.get('network_id')| int) == project.network_id %}
                        <form class="param_table_form"
                              action="{{ url_for( '.prepare_table', network_id=project.network_id, well_id='') }}"
                              method="post">
                            <fieldset>
                            <input class="radio_item" id="pr{{ project.id }}" name="project_name" type="radio" value="{{ project.network_id }}" checked/>
                            <label class="project_name" for="pr{{ project.id }}">{{ project.name_ru }}</label><br>
                            <div class="wellChooser">
                                {% if vars.get('wells') | length > 0 %}
                                    <label>
                                        <select name="well_id" required>
                                            <p>Выберите скважину:</p>
                                            {% for well in vars.get('wells') %}
                                                <option value="{{ well.id }}">{{ well.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <br>
                                    <input id="records" class="records" type="checkbox" onchange='activateOrDisable("records", ["records_list"]);'>
                                    <label for="records">Records</label>
                                    <input id="records_list" name="records_list" class="records_list" type="text"
                                           placeholder="1,11,12" disabled required>
                                    <br>
                                    <input id="limits" type="checkbox" onchange='activateOrDisable("limits", ["limits_list", "limit_value"]);'>
                                    <label for="limits">Limits</label>
                                    <label for="limits_list">
                                        <select id="limits_list" name="limit" disabled>
                                            <option value="weeks">Weeks</option>
                                            <option value="days">Days</option>
{#                                            todo Допилить js для скрытия/открытия форм#}
{#                                            <option value="custom">Custom</option>#}
{#                                            <option value="full">Full data</option>#}
                                        </select>
                                    </label>
                                    <input id="limit_value" name="limit_value" type="number" placeholder="2" disabled
                                           required>
                                    <input type="date" id="from" name="limit_from" min="2012-12-01" max="2145-01-08"
                                           hidden disabled required>
                                    <input type="date" id="to" name="limit_to" min="2012-12-01" max="2145-01-08" hidden
                                           disabled required>
                                    <input class="create_report " type="submit" value="Сформировать отчёт">
                                {% else %}
                                    <p>Активных скважин нет.</p>
                                {% endif %}
                            </div>
                            </fieldset>
                        </form>
                    {% else %}
                        <a class='project'
                           href="{{ url_for('.param_table', network_id=project.network_id) }}">{{ project.name_ru }}</a>
                        <br>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h1>NULL</h1>
{#            <h2>Did not founded any active well!</h2>#}
        {% endif %}

    {% endblock %}
