{% if vars.get('projects') %}
    <ul class="sub-menu">
        {% if 'param_table' in link %}
            {% include 'param_table/param_table_onepage.html' %}
        {% elif 'user_activity_table' in link %}
            {% include 'users_activity_table/user_table_onepage.html' %}
        {% elif 'speed_test' in link %}
            {% include 'users_activity_table/user_table_onepage.html' %}
        {% endif %}
    </ul>
{% elif vars.get('sup_dict') %}
    <ul class="sub-menu">
        {% for project in vars.get('sup_dict').get(link) %}
            <li><a class='project' hidden="true"
                   href="{{ project.uri_monitoring }}">[ {{ project.shortcut }} ]</a>
                <a class='project'
                   href="{{ url_for('project_info', network_id=project.network_id) }}">{{ project.name_ru }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h1>NULL</h1>
{% endif %}
