{% extends 'meta.html' %}
{% block content %}
    <div class="wrapper">
    {% if vars.get('links') %}
        {% for name, link in vars.get('links').items() %}
            <input type="radio" id="tab-{{ loop.index }}" class="scripts-list" name="tab" checked/>
            <label for="tab-{{ loop.index }}">{{ name }}</label>
            {#                <input class='ScriptButton' type="button" value="{{ name }}" onclick='window.location.href="{{ link }}"' />#}
            {#              <button><a href="{{ link }}">{{ name }}</a></button><br>#}
        {% endfor %}
        <div class="content">
            {% for link in vars.get('links').values() %}
                <article class="tab-{{ loop.index }}">
                    <h2>Выберете проект:</h2>
                    {% include 'projects.html' %}
                </article>
            {% endfor %}
        </div>
    {% else %}
        <h1>NULL</h1>
    {% endif %}
    </div>
{% endblock %}
